
/laravel/node_modules
/laravel/public/hot
/laravel/public/storage
/laravel/storage/*.key
/laravel/vendor
/laravel/.idea
/laravel/.env
/laravel/npm-debug.log
/laravel/.env.*.php
/laravel/.env.php

/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
.env
npm-debug.log
.env.*.php
.env.php

